<p>
    Display a loading banner for 3 seconds. After 3 seconds display a template within the HTML template. Pass a string to the template. The template should display the passed string. 
    Make use of defer and placeholder. (Use Ready variable)
    You can use a timer and set a variable where defer references to. Later we will make a signal for this.
</p>



<!--  Use Defer and Placeholder here-->
@defer (when ready) {
    <ng-container *ngTemplateOutlet="welcomeUser; context: { message: 'Hello User' }"></ng-container>
} @placeholder {
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
<ng-template #welcomeUser let-message="message">
    <strong>{{ message }}</strong>
</ng-template>
 




